@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}

/*Gallery Section*/

.gallery h2{
	margin-top: 6.5rem;
	font-size: 3rem;
	font-weight: 700;
}

.gallery .content{
	-webkit-display: flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.gallery .content .box{
	flex:0 0 50%;
	max-width: 50%;	
}
.gallery .content .box img{
	display: block;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.gallery .content .box img:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.gallery h2{
	font-size: 3rem;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 18px;
    text-align: center;
}

.video__footage__container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video__footage {
    position: relative;
    top: 1rem;
    font-weight: 700;
}

.video__footage::before {
    background-image: linear-gradient(
        to right,
        red 0%,
        black 51%,
        red 100%
    );
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    transform: translate(-1rem, -1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video__title{
    color: black;
    margin: 0.5rem;
	font-size: 3rem;
	font-weight: 600;
}

/* footer */
.contact{
	padding:80px 0px;
	background-color: #222222;
	margin-top: 2rem;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}


.contact .content .text h2{
	font-size: 40px;
    font-weight: 500;
    color: #c11325;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 23px;
	color:#c11325;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 45px;
	width: 45px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 17px;
}



@media(max-width: 767px){
.gallery .content{
    flex-wrap: wrap;
   }
  .gallery .content .box {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .video__footage__container {
	display: flex;
	flex-direction: column;
}
.gallery h2{
	font-size: 2rem;
	font-weight: 500;
}
}